{% extends "base.html" %}    
{% block head %}
    <title> Αρχική Σελίδα για διαχειριστές </title>
{% endblock head %}
{% block body %}
    <br>
    <a href="/create_admin"> Δημιουργία Διαχειριστή</a>
    <br>
    <a href="/add_movie">Προσθήκη Ταινίας </a>
    <br>
    <a href="/delete_movie">Διαγραφή Ταινίας </a>
    <br>
    <a href="/update"> Ενημέρωση Ταινίας </a>
    <br>
    <a href="/history">Προβολή Ιστορικού</a>
    <br>
    <a href="/search_movie">Εύρεση Ταινίας για την Κράτηση Εισιτηριών</a>
    <br>
    <a href="/reset"> Επαναφορά κωδικού </a>
    <br>
    <a href="/logoff">Αποσύνδεση</a>
{% endblock body %}

